#area
{
  position:relative;
  left:100px;
  width:300px;
  height:300px;
  padding-left:25%; 

}
#area #formulario
{
  position:absolute;
  display:block;   
}


fieldset
{
  background-color:#A7C0DC;
  height:210%;
  width:100%;
  border: solid 1px;

}
legend
{
   
   font-weight:bold;
   font-family: "Segoe UI","Arial","Times New Roman";
   font-size: 19px;
}
#formulario label
{
  font-weight:bold;
  font-size: 20px;
}
#formulario input.campo
{
  background-color:white;
  
}
#formulario textarea.msg
{
  background-color:white;
}


#formulario input.btn_submit
{
  
  background-color:white;
}
