.col-md-4{

	position:absolute;
	padding-right: 100px;
	margin-left: 690px;
	padding: -20px;
}

.col-md-8{
	position:relative;
	margin-top: -450px;
	padding-right: 20px;
	margin-right: 10px;

}


.div.cardy-body{

	width:300px;
	height: 100px;


}

.h2.card-title{
	margin-top:-450px;



}